<!DOCTYPE html>
<html>
    <head>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
        <style type="text/css">
        table th {text-align:left}
        table td {text-align:left; border:1px solid}
        </style>
    </head>
    <body>
            <div class="cart-box-body">
                    <template v-if="goods_list.length">
                    <table class="cart-table" style="width:100%">
                        <thead>
                            <tr>
                                <th>商品名称</th>
                                <th>单价</th>
                                <th>购买数量</th>
                                <th>合计</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(goods,index) in goods_list">
                                <td>{{ goods.name }}</td>
                                <td>{{ goods.price }}</td>
                                <td><input type="text" size="5" :value="goods.num" v-on:blur="changeNumber(goods,$event)"/></td>
                                <td>{{ goods.price * goods.num}}</td>
                                <td>
                                    <a href="javascript:;" v-on:click="remove(goods)">删除</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div>
                        共{{ count }}件商品 购物车总金额：￥{{total}}元
                    </div>
                    </template>
                    <template v-else>
                        <div>购物车为空</div>
                    </template>
                </div>
                <script src="market.js"></script>
    </body>
</html>